<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'nonce-<%= nonce %>'; style-src 'self' 'nonce-<%= nonce %>';">

  <title><%= folderName %> - Folder View</title>
  <style nonce="<%= nonce %>">
    body {
      font-family: Arial;
      background-color: whitesmoke;
      margin: 20px;
    }
    .folder-header {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 2px solid gainsboro;
    }
    .folder-header h1 {
      font-size: 1.8em;
      margin: 0;
    }
    .folder-header p {
      color: darkgrey;
      margin: 5px 0;
    }
    .permissions {
      background: gainsboro;
      padding: 12px;
      margin: 12px 0;
      border-radius: 10px;
    }
    .permissions p {
      font-weight: bold;
      margin: 0 0 5px 0;
    }
    .permissions ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .permissions li {
      margin: 4px 0;
    }
    .file-list-container h2 {
      margin-top: 0;
    }
    ul.file-list {
      padding-left: 0;
      list-style-type: none;
    }
    ul.file-list li {
      padding: 10px;
      margin: 5px 0;
      border: 2px solid gainsboro;
      border-radius: 3px;
      background: whitesmoke;
    }
  </style>
</head>
<body>
  <div class="folder-header">
    <h1><%= folderName %></h1>
    <p>Owner: <%= folderOwnerName %></p>
    <% if (!isOwner) { %>
      <div class="permissions">
        <p>Your Permissions:</p>
        <ul>
          <li>Edit: <%= canEdit ? 'Yes' : 'No' %></li>
          <li>View: <%= canView ? 'Yes' : 'No' %></li>
          <li>Delete: <%= canDelete ? 'Yes' : 'No' %></li>
        </ul>
      </div>
    <% } %>
  </div>

  <div class="file-list-container">
    <h2>Files in this Folder:</h2>
    <ul class="file-list">
      <% if (listOfContainedFilesNames && listOfContainedFilesNames.length > 0) { %>
        <% listOfContainedFilesNames.forEach(function(fileName, index) { %>
          <li><%= fileName %>, 
            <a href="<%= listOfContainedFilesDownloadLinks[index] %>">Download</a>,
            Uploader: <%= listOfContainedFileUploaders[index] %>
            <% if (canDelete) { %>
              <form action="<%= listOfContainedFilesDeleteLinks[index] %>" method="POST" style="display:inline;">
                <button type="submit" style="text-align: end;">Delete</button>
              </form>         
            <% } %>
            
          </li> 
        <% }); %>
      <% } else { %>
        <li>No files in this folder.</li>
      <% } %>
    </ul>
  </div>
  <% if (canEdit) { %> 
      <a href="<%= folderUploadLink %>">Upload a file to this folder</a>
  <% } %>

  <br>
  <br>

  <% if (isLoggedIn) { %> 
    <a href="<%= homepageLink %>">Return home</a>
<% } %>
</body>
</html>
