<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'nonce-<%= nonce %>'; style-src 'self' 'nonce-<%= nonce %>';">
  <title>Login - SSDFileSharing</title>
  <style nonce="<%= nonce %>">

  html, body {
      height: 100%;
    }

    body {
      color: dimgray;
      display: flex;
      background-color: whitesmoke;
      justify-content: center;
      margin: 0;
      font-family: Arial;
      align-items: center;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    form label {
      font-weight: bold;
      margin-top: 1rem;
      color: #003d66;
    }
    form input {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 0.5rem;
    }
    form button {
      margin-top: 1.5rem;
      padding: 0.75rem;
      font-size: 1rem;
      background-color: #005f99;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .login-container {
      border-radius: 10px;
      padding: 2rem;
      background: lightblue;
      width: 100%;
      max-width: 400px;
    }
    .login-container h1 {
      text-align: center;
      color: #005f99;
      margin-bottom: 1.5rem;
    }
    .message {
      color: lightcoral;
      text-align: center;
      border-radius: 5px;
      background-color: whitesmoke;
      border: 1px solid lightcoral;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
    

  </style>
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <% if (locals.msg) { %>
      <div class="message">
        <%= msg %>
      </div>
    <% } %>
    <form method="post" action="/login">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>



      <button type="submit">Login now</button>
    </form>
  </div>
</body>
</html>
